In [1]:
import nltk

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
TEXT = 'There is the house, where my family lives!'

In [4]:
import nltk
from nltk.tokenize import word_tokenize

In [6]:
word_tokenize(TEXT)

['There', 'is', 'the', 'house', 'where', 'my', 'family', 'lives']

In [7]:
from nltk.corpus import stopwords

In [8]:
stop_words = stopwords.words('english')

In [9]:
tokens = word_tokenize(TEXT.lower())

In [10]:
tokens = ' '. join([token for token in tokens if token not in stop_words])

In [11]:
tokens

'house family lives'

In [12]:
from nltk.stem import PorterStemmer

In [13]:
porter = PorterStemmer()

In [14]:
new_doc = ' '.join([porter.stem(token) for token in word_tokenize(tokens)])

In [15]:
new_doc

'hous famili live'

In [16]:
corpus = [
    'His name is Paul',
    'Paul likes to paint',
    'Paul likes to play sports',
    'A very good sport is running'
]

In [17]:
from sklearn.feature_extraction.text import CountVectorizer

In [18]:
vectorizer = CountVectorizer()

In [19]:
vectorizer.fit(corpus)

CountVectorizer()

In [20]:
vectorizer.transform(corpus).toarray()

array([[0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0],
       [1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1]], dtype=int64)

In [21]:
vectorizer.vocabulary_

{'his': 1,
 'name': 4,
 'is': 2,
 'paul': 6,
 'likes': 3,
 'to': 11,
 'paint': 5,
 'play': 7,
 'sports': 10,
 'very': 12,
 'good': 0,
 'sport': 9,
 'running': 8}

In [22]:
voc = {value : key for key, value in vectorizer.vocabulary_.items()}

In [23]:
voc

{1: 'his',
 4: 'name',
 2: 'is',
 6: 'paul',
 3: 'likes',
 11: 'to',
 5: 'paint',
 7: 'play',
 10: 'sports',
 12: 'very',
 0: 'good',
 9: 'sport',
 8: 'running'}

In [24]:
df = pd.DataFrame(vectorizer.transform(corpus).toarray(),
                 columns = [voc[i] for i in range(len(voc))])

In [25]:
df

,good,his,is,likes,name,paint,paul,play,running,sport,sports,to,very
0,0,1,1,0,1,0,1,0,0,0,0,0,0
1,0,0,0,1,0,1,1,0,0,0,0,1,0
2,0,0,0,1,0,0,1,1,0,0,1,1,0
3,1,0,1,0,0,0,0,0,1,1,0,0,1